$title-bgcolor: rgb(133, 163, 253);
$title-color: white;
$item-bgcolor: lightblue;
$num-color: rgb(143, 143, 242);

.header {
  background-color: $title-bgcolor;
  text-align: center;
  color: $title-color;
}

.item {
  background-color: $item-bgcolor;
  margin: 30px 10px 10px 10px;
  border-radius: 20px;
}

.item-content {
  margin: 30px 20px 10px;
}

.num {
  color: $num-color;
  font-size: 25px;
}

.content {
  font-size: 20px;
}
